html{
  font-family: helvetica;
}

h1,h2,h3 {
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h2{
  color: white;
  font-size: 32px;
}

#brush {
  background-color: mediumspringgreen;
}

.price {
  font-weight: bold;
  color: blue;
}

#frame {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
